.site-properties-con{
    margin: 100px auto;
    padding: 40px 0;

    .site-properties{
        .site-property{
            display: flex;
            flex-direction: column;
            align-items: center;
            &:hover{
                .item-icon{
                    opacity: 0.4;
                }
            }
            .item-icon{
                transition: all 0.3s;
                font-size: 32px;
                opacity: 1;
                margin-bottom: 20px;
            }
            h6{

            }
        }
    }
}